-----BEGIN CERTIFICATE-----
MIIE/TCCA+UCCQCqhD30nUrlrDANBgkqhkiG9w0BAQsFADCBvTELMAkGA1UEBhMC
VUExDTALBgNVBAgMBEx2aXYxDTALBgNVBAcMBEx2aXYxFzAVBgNVBAoMDlNvZnRT
ZXJ2ZSBpbmMuMRgwFgYDVQQLDA9JUyBBcHBsaWNhdGlvbnMxIDAeBgNVBAMMF3Zt
cGNhMS5zb2Z0c2VydmVjb20uY29tMTswOQYJKoZIhvcNAQkBFixJVEkmT0lTQXBw
bGljYXRpb25zVGVhbU1haWxAc29mdHNlcnZlaW5jLmNvbTAeFw0yMTA2MjQwNzA4
NTdaFw0yNDA2MjMwNzA4NTdaMIHCMQswCQYDVQQGEwJVQTENMAsGA1UECAwETHZp
djENMAsGA1UEBwwETHZpdjEXMBUGA1UECgwOU29mdFNlcnZlIGluYy4xGDAWBgNV
BAsMD0lTIEFwcGxpY2F0aW9uczElMCMGA1UEAwwcc3lzbG9ndGllcjAuc29mdHNl
cnZlY29tLmNvbTE7MDkGCSqGSIb3DQEJARYsSVRJJk9JU0FwcGxpY2F0aW9uc1Rl
YW1NYWlsQHNvZnRzZXJ2ZWluYy5jb20wggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAw
ggIKAoICAQDVINHSK+AUz6ry+jjhn/bT3i+AymQFdHBoAhovUstcUKc5rEbAvNTr
TWgYnZKJ79JjC6r78dhJx52y9dWF8Onxiq9SY7iEqCItCM7XVjikoHya+o2nEz+Z
ZlsEa7KJbfMXo2yrO7Dur+2H/yDfoGiyJrn9ZdqVivweTQNsC16gvz73Ja3E5RFb
axqGzjp/eMEmxhFMY/WLa/VjEKzgLoECdJFUW4HViH6lTRwBbpEaYwC3UpTZVyF0
+EWdmZztJzIsdyXpnOTu8lHrGkOIrQ1WKPDgX1vQ7Iyzn8kfxBvRaVDp+ryw4AjQ
Dl6YYyMYap2kDP/MOJv71qxjtNtnxJefWHFfYSEtcwLApDCMeBdf2rqpmrh/ijND
gKou8IuHJBblVOxWD2I5Tq1BKJsk1YrTkikueNbTYpN3O/P/AhA3VKmACBP9Kp7w
qnvhLeW8Hu3SAfxsmUB9Yg6POxIukQFZ5ZUxC51CMbZDa4ebfpNb1uIFyFB6/qIC
xLJOVes1ynbMVPGBizPm1iSO/miUPN4C/eg7sm5KbmxxkU9ICc/oCB8eCyJ0kCeZ
qJD6J8LNfexoqewy/vBKEwzELKhq9eDgqH05C+o6LM+tPPj7DleSIuQ15HqER7gU
FISIrlh++rvFtT4XyjLRzVNRhuVx85Yq4mXkCiJ6ZW9jzB2nqBxfDQIDAQABMA0G
CSqGSIb3DQEBCwUAA4IBAQCibHgZ+QCmX4dWaR15pjVv1Maq/SIrjuhnTjgnpv4M
e/9kLsQDrK9NZKoqyNV1mNNZzhvIb0BLBmdesSmC/5IQcA7GO/Jgu/aS1/4xCWDn
apq0Y9udcXKB+uowRjn8FeOLFAW8zGM2ZBwQ/hKihlOHr4sUlg9i0UIFNjGQ+n2Q
B16DViWAe0JiJHzQA84V4rON3J0wnA5HSyTFTuy0HUV0MbVe7kTrkG1T/ab8lYqW
zdAZ36ZSR1xv9ywubSGg9eKbyHhknBp0s9phfo/hcJWCLjsKhdpvF2J0wZtVS3JX
/ZYdc0bqMCdv1yUnX7Je7sh0sooe7wpscIYmkwnOpyPg
-----END CERTIFICATE-----
-----BEGIN RSA PRIVATE KEY-----
Proc-Type: 4,ENCRYPTED
DEK-Info: AES-256-CBC,200A69C11F363DCCB91BFF193B0DA5FA

ORUZZSDh7O0W/GQfei4H6WvoIwDrng6vjeba1hZOveGQJfafNtG2bJPfWFryK5bF
uGXwrsbBBLexL+wQXTCz9jqogEy/DLZqznz/UI9ZHRm95HzmNd1IwfS1U0sjzaNi
LcCTA3QISQfsKbFglxgca5HAXpCAo2BxuqxWG6XWlMYgtqxtT/rxDe03NdLMfKhb
LaxVa2oUfvZobtBWv9ZtKlXmkklkbhKRkpAJIqvG0P87+2lf+qq3rXtCUod1U4aw
tVth6Pzh594t6BXQTIi6sQYq9aex+4vntw4/M9Yy5hBNwReRFhCL0uOfHli7zmTE
8D+L2v3L1t4ynNgljT56G+hHLbLDEGNYWVLFa91R2qaySxbNm5qhM7snk2sAPzdc
JZTgaOX+hz+1whewIdRx1j4GXMHaCrSlmvt5usBoUEjTVZIo5zBL9KmnUhLIQjXr
O0br/avUopUlRQeDZmNczDytarR9vYBpSaYr3G9ngEj3pSsm/8wgHyhHZDfFUrtp
YbU8jeGrAf9xktG0rIcqoiY9zQLJVata0xH5uVz5wzNTOaGwIwwvTXG4ZcBFhxSN
Z3vv0OuH9ODk5CR4pQVebi+dK3qPqkSpcOAGGXQp2+gDmMjuVXY8Q1aDB6ImFJwV
pLWrS5+iciKm2bJVjwznKum7EuUVQMU1ErIf4Z8alP26JMKXE2+SqwNdVpppkwLY
ORmTP+8RNfAkOzM+TKTyxI0+3c97YNYrpaE/ToexlAPlrttYtp6YOMinZd0S3OO0
GwWsUX1mU8VjtQFTOGZUIxnDAiD4yydl81c+QIoB9QPXXjSk2AwRDp0hZRCSRbb2
eKV2dJ2SE00qqz0J0HpQmPd5u+3IhHhsXyf+o94sJRSrThIEVTTwA6u9shuX6Bfa
9V4tVEo62awoqkhl2i5pgK1yRYsVnv7p2G7SkdaHe4HWwA0t+cn1Pz60BMuMhgWj
HSiHClxni3q2q9wsykuzilI6Uy5Py9X0Pwp3kEDtdSGogvID+HNXx3o8re1ZQEI6
O01v3C4V+Wy2cGk6w8LBQQ8KViu4P9ufceB1OBHxxeoXfwmcV6ZN+S3rj3P57eQ1
vSUg6Sm6sxe6FcnATa3b+bh2cts5q6L5EucsFB943ZYRxHKHM3RFNw6k8e1f7lI9
weuQ9wxbFzCRDQRqA4u8N83sX1w51oDdyUlYmtc6o8RC4NF2WYIatScCN+yLMsNe
swzl3biAKQ0cQDb6+I2iKudq/bLEkhSYB9IbD1XrHyVYQEMXOVL29N3hfxuOK6qD
9a6iJuxo084SLJyTto7W7OFnTUUR5SAXEPi7NCEhAPxspDQtzV5ddyXPDd3f6I5N
6ByqGd+1AAet1yygDHd7UhQov3FCRbFUBzX6zygMvM0Ub3tJvyVCLREOmSto3bJD
uFqTupM+hR5lD0L62sRH9pRBtMFL/KJbfiGyO7N/nJe4CU6fabzqXFPm6u5Niyyc
GnBRHGYWa8U6nDmbBidMiqlMQwBw7H6+4HJSgae7kXaR8ksdFq82PqPjd2K4ns7P
kjSFBaHw9u92NCzY85jT7kts3rQkldTtterqLf9j3JBWQdNAHRtOXADb2TFLrfuy
VS9xdXytFCnPc4VDKrz2qeEs+g8kVqQ/cA0im4QVbubIyo8X4SUdeXR1gLGxc5Iw
0yGSe2juFDxVuhmnGh6wnILJ9SNjpkd36B+4T0Mm9g7QMt8fpKG4WO6tTlHiXuDb
71cIJ9gRqkGqHp82+VxWZ1h7ErEoxqens37D5ONyvjkbr+v4pcsLRUWU3/eblML4
e/OzPhAcwy9+92czQlcBOaIlZtbRJbzHO5QTKGgFH+iXv5aANx8+pRjpu4NdLO3H
5wKKgaiRNjQsAZ5H5TUPH6GVpPLXSCTs+hAweA46gBGIKo3wPIg1HUpslYadqTv4
fDqmqaOlWsUaC7T+PPIPADdTzUABjCAMHD9sHIweNWc9Sm/t/lTTuIzGYso1D0e8
DQi7W1BWPDawKZr3s54OeRCLLv7xA7yEmzJKiMT7VCU9gUVUVxtuAIm9D9O9JfKc
LjwIO0oPhCHw7UdEV8JfudgfFfy0jmlmtDp4UWyXi0tksFrcN4Ys4lXAJSY8DwsO
JOtgCvnszv35DWDHOQNTr+FAULnBsjAQztgrzbU36nkbrQf7ZHkt0juNqfs160Ph
bFzq6zT5bxZxIjimOgzpod71pbuZSAR8ZRQfPcXo9cER25oDT9mp2byMpbKnIE08
D0XbNTJd0TPXTXeAGeD8GU8FWyFY3jddIJnRxiLbjr/LFYmEeYwg8HF5U69ld7ts
ROw3YVBfyLTD3bxSsPmXAtlAk1vlYordAsv6PGbn2JVMMMijgnAc6Rb2Q9KT3YNU
P8L5LaP81YNVO+anQdR06UtZoUlZILdTevjLRebaw5iLjviVIkssLB+g/SiYRSAP
w4S/63oSFMEeWy50cEOWJTusnXl+/INm8YLUd/BZ16R45s2AiFMn0Y4i5+PTuXe6
KV/qDyEVAB5fTcC9e3sc/hj/nX2LqpT8fCvxVAQIsb+JfSHNjKxXeh1wLYNXkpLb
TdSzpotLJrPFGp2UQYBb/dAmzUdo7HA7xQcIDApqYcC7gyAs4CXZal+1ztCGscU5
tW+pKM0IBgiE4NOws8xkWo+nKpNhHzn3AwZEkCMFKKUx976MwkY04LqpZy2i53pd
Ew2K+f5GTjZ+wypmYnVbM5iGLL5nsOUALOTDlYXn693GSbVRnHpQ9QJAYLCHDZP/
GCjfL1ZIQxqhTCmXIEYoRAtQg7YqEj+s6lgyzQvmHfeEVyr37fAoPTOIOVoP2CZj
MUx1Q6mAQ3rq+xkGZslyRrdg2lUqhZaLo4YMg4t2V9XS3it04uCUoiPu0vB/RKt5
6xZGZMXZCA1IeVOUnuOC42hniKGPwutpJ21nGq1L2ed5XCajaJssB1DtHGHgNu2s
g0D2yX+pTJki6tbWbW2sJV84iTOnImjk6HyihPrM80zLTfcyxTs7lChXn0OjzIkC
cp3lOaVy6b3Oj/N9vbZ7y3Ybr/dG36erWWiH8OvT1J2vdF2srwEBXwIh+EnuJPyu
jfoYCxvLLhA+Rz+seTaEUWv4ZONdBpYu9NDJIZeWMiqBZRlAbWJuP80X0GROIBlz
-----END RSA PRIVATE KEY-----
-----BEGIN CERTIFICATE-----
MIID+DCCAuACCQD3hFrp5d4VrjANBgkqhkiG9w0BAQ0FADCBvTELMAkGA1UEBhMC
VUExDTALBgNVBAgMBEx2aXYxDTALBgNVBAcMBEx2aXYxFzAVBgNVBAoMDlNvZnRT
ZXJ2ZSBpbmMuMRgwFgYDVQQLDA9JUyBBcHBsaWNhdGlvbnMxIDAeBgNVBAMMF3Zt
cGNhMS5zb2Z0c2VydmVjb20uY29tMTswOQYJKoZIhvcNAQkBFixJVEkmT0lTQXBw
bGljYXRpb25zVGVhbU1haWxAc29mdHNlcnZlaW5jLmNvbTAeFw0yMDA1MDQxMTQ2
NDNaFw0yMzA1MDQxMTQ2NDNaMIG9MQswCQYDVQQGEwJVQTENMAsGA1UECAwETHZp
djENMAsGA1UEBwwETHZpdjEXMBUGA1UECgwOU29mdFNlcnZlIGluYy4xGDAWBgNV
BAsMD0lTIEFwcGxpY2F0aW9uczEgMB4GA1UEAwwXdm1wY2ExLnNvZnRzZXJ2ZWNv
bS5jb20xOzA5BgkqhkiG9w0BCQEWLElUSSZPSVNBcHBsaWNhdGlvbnNUZWFtTWFp
bEBzb2Z0c2VydmVpbmMuY29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKC
AQEAvpMsMxniFPrANLpKUxn4cV1dxjhknzsMEttRQVBu5UJ9lhnpgTwgUeefBEGf
ye17m/EXbzxWcgIV14rVcu46JZocWzXvCzIdnDlCWi5VgYEuTF8X3HjHHzCLI4Nw
36POLSkHWd6g0UUJzZxT7+bnHGWGIqvJLBXppZk4FLeoDFWnF5AZfBqYtcFp1zmA
aFAmBuxTfBgUj8nUAg8nfVZb3Pr/q6mHvp0r6PzjPhiGPiEha0bANzze+Kmpq9tv
zusafbBvPtzQyQyhBntebl/nXIGSob1uK9IKBIuc5n6PFpQxRkWso/+f2DVi41wW
hjdXY6IER6ZNhCQBVxy62VokRQIDAQABMA0GCSqGSIb3DQEBDQUAA4IBAQA4b58l
PFbiAgbYfIwHY+v20SSapp/5jEOB72EL1yIMl8/24QyvZGb9fuBwFfKclUxSGvXJ
KLZzhjLsU7cwUEpl/uTo+0WYXVgb8bWpCmkArXr3rX7thil1r/8no3uQNu3wKPfb
lsfM2SXMUohLa8j/z9Yqmdbz4mVReXYhDRLztSkojwXT2M3i/BPf4hPja01t7seu
C/ZTBzhrKQPOGhxhUj4oyad+MsBHoPDZZ/CGTYG2uygrdlwA/vSNSbclPjpAbD16
d9ANXUU20x/cALCGpt68q+IFIM6uC5vAv84VCOsRI0LuQrqH6Zkh2Our1Rp1reXr
/z6T0HarG4+bAH1T
-----END CERTIFICATE-----
